@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=PT+Serif&display=swap");

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: 0;
}

body {
	font-family: "Montserrat", sans-serif;
	font-family: "PT Serif", serif;
}
p {
	display: inline-block;
}

.container {
	width: 100%;
}

.header {
	background: url(../img/background.png) top center;
	background-size: cover;
	width: 100%;
	height: 100vh;
}

.wrapper {
	margin: 0 auto;
	width: 1011px;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 60px;
}
.logo__img {
}
.navbar-list {
	display: flex;
	justify-content: space-between;
}
.navbar-item {
	font-size: 18px;
	font-family: "Montserrat";
	font-weight: ;
	color: rgb(255, 255, 255);
	line-height: 22px;
	list-style-type: none;
	margin-right: 15px;
	text-transform: uppercase;
}

.navbar-item > a {
	text-decoration: none;
	color: #fff;
	padding: 12px 15px;
}
.navbar-item > a:hover {
	border-radius: 5px;
	background-color: rgb(19, 14, 39);
}
.general-box {
	padding-left: 25px;
}
.general__title {
	font-size: 90px;
	font-family: "Montserrat";
	color: rgb(19, 14, 39);
	font-weight: bold;
	line-height: 80px;
	text-transform: uppercase;
	margin-top: 167px;
	padding-right: 238px;
}
.general__text {
	font-size: 20px;
	font-family: "PTSerif";
	color: rgb(255, 255, 255);
	line-height: 28px;
	padding-right: 528px;
}
.white {
	color: #fff;
}

.our-services {

}
.ourservices__title {
	font-size: 50px;
	font-family: "Montserrat";
	color: rgb(19, 14, 39);
	font-weight: bold;
	line-height: 80px;
	margin-top: 45px;
	margin-bottom: 100px;
}
.red {
	color: rgb(198, 35, 20);
}
.ourservices-cards {
display: flex;
justify-content: space-between;
align-items: center;
}
.outservice-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.card__img {
	margin-bottom: 45px;
}
.card__text{
	font-size: 20px;
	font-family: "PTSerif";
	color: rgb(22, 22, 22);
	line-height: 28px;
	text-align: center;
	max-width: 175px;
	margin-bottom: 68px;
}
.ourstory {
}
.ourstory__text {
}
.ourstory__button {
}
.pricing {
}
.pricing__title {
}
.pricing-cards {
}
.pricing__text {
}
.pricing__cost {
}
.pricing__button {
}
.footer {
}
.footer__text {
}
.footer-logo {
}
